body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 50vh; /* Ajusta la altura del mapa al 50% de la altura de la ventana */
  width: 100%; /* El mapa ocupa el 100% del ancho */
}

#controls {
  padding: 20px;
  background: #f4f4f4;
  width: 100%; /* Asegura que los controles ocupen el ancho completo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  margin: 5px;
  padding: 10px 15px; /* Aumenta el tamaño del botón para facilitar su uso en móviles */
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  cursor: pointer;
  width: 100%; /* Botones ocupan el ancho completo */
  border: none;
  background-color: #007BFF; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

#info {
  text-align: center; /* Centrar el texto de información */
  margin: 10px 0;
}

#summary {
  margin-top: 20px;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados para el resumen */
  width: 90%; /* Ancho del resumen */
}

@media (max-width: 600px) {
  #map {
      height: 40vh; /* Ajusta la altura del mapa en pantallas más pequeñas */
  }

  button {
      font-size: 14px; /* Disminuye el tamaño de la fuente en móviles */
  }

  #summary {
      width: 95%; /* Aumenta el ancho del resumen en móviles */
  }
}