/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    flex-shrink: 0; /* No dejar que el header se encoja */
}

/* Sección principal */
section {
    flex-grow: 1; /* Asegura que el contenido se expanda para llenar el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que no se desborde el iframe */
    padding: 0;
    margin: 0;
}

/* iframe */
iframe {
    width: 100vw; /* Asegura que el iframe ocupe todo el ancho de la pantalla */
    height: 100vh; /* Asegura que el iframe ocupe toda la altura de la pantalla */
    border: none; /* Elimina el borde predeterminado */
}

/* Enlaces */
a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

a:hover {
    background-color: #0056b3;
}
