/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4a76a8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

iframe {
    width: 100%;
    height: 800px; /* Altura fija, se ajustará en pantallas más pequeñas */
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    main {
        padding: 1rem; /* Menos padding en pantallas pequeñas */
    }

    iframe {
        height: 400px; /* Reduce la altura del iframe en pantallas pequeñas */
    }
}

footer {
    background-color: #4a76a8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Estilos para pantallas muy pequeñas */
@media (max-width: 480px) {
    header, footer {
        padding: 0.5rem 0; /* Menos padding en header y footer */
    }

    main {
        padding: 0.5rem; /* Menos padding en main */
    }

    iframe {
        height: 300px; /* Reduce aún más la altura del iframe */
    }
}